/* basic styling */
body { 
   font-family: "Georgia";
   font-size: .8em;
   color: white;
   background-color: Black;
}

 /*grid setup */
.item1 { grid-area: title;
  font-family: "Almendra SC";
  font-size: 3em;
  border-style: none ridge ridge none;
    border-width: 4px;
    border-color: white;
}
.item3 { grid-area: nav; 
    border-style: none ridge none none;
      border-width: 4px;
      border-color: white;
}
.item4 { grid-area: main; }
.item5 { grid-area: statusBar; 
  border-style: none none ridge none;
    border-width: 4px;
    border-color: white;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1.5fr 9fr;
  grid-template-areas:
    'title statusBar'
    'nav main';
  background-color: black;
  justify-content: left;
}
.grid-container > div {
  text-align: center;}


/* Nav bar button looks */
.tablinks {
	background-color: black;
	border: 1px solid white;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	width: 80%;
	border-radius: 5px;
}
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 11%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 30px;}
   
/*Status Bar Formating */
#topBar table {
	width: 100%;
}
#topBar th {
	width: 33%;
}
#topBar td {
	width:20%;
}

/* Dropdown styling */
.dropdown {
  background-color: black;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

/* Button Styling */
button {
  background-color: black;
	border: 1px solid white;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	}